[Unit]
Description=user pi listening to dweets
After=network.target

[Service]
WorkingDirectory=/home/pi
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/programs/poweroff_dweet.py
Restart=always

[Install]
WantedBy=multi-user.target
