[Unit]
Description=user pi start yoctopuce milliVolt measurement and sent result to demo tb.
After=network.target

[Service]
WorkingDirectory=/home/pi
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/millivolt_to_tb_demo.py /home/pi/millivolt_to_tb_demo.yml
Restart=always

[Install]
WantedBy=multi-user.target
