[Unit]
Description=user pi start ds18b20 temperature measurement and sent result to mosquitto broker
After=network.target

[Service]
WorkingDirectory=/home/pi
Type=idle
User=pi
ExecStart=/usr/bin/python3 /media/usb/temp_to_mqtt.py /media/usb/temp_to_mosquitto.yml
Restart=always

[Install]
WantedBy=multi-user.target
