[Unit]
Description=user pi start ds18b20 temperature measurement and start opcua server.
After=network.target

[Service]
WorkingDirectory=/home/pi
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/opcua_server.py
Restart=always

[Install]
WantedBy=multi-user.target

