[Unit]
Description=user pi start sending lamp status to thingsboard ubuntu server
After=network.target

[Service]
WorkingDirectory=/home/pi
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/lasea_slm_to_mqtt.py /home/pi/lasea_to_tb_ubuntu.yml
Restart=always

[Install]
WantedBy=multi-user.target
