[Unit]
Description=user pi start sending lamp status to thingsboard
After=network.target

[Service]
WorkingDirectory=/home/pi
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/lasea_stacklight_status_to_tb.py
Restart=always

[Install]
WantedBy=multi-user.target
