[Unit]
Description=sync time at regular intervals manually
After=network.target

[Service]
WorkingDirectory=/home/pi
Type=idle
User=pi
ExecStart=/bin/bash /media/usb/my_time_sync.sh
Restart=always
RestartSec=3600s

[Install]
WantedBy=multi-user.target
